{{#each this}}
  <div class='countries'>
    <img
      class='country__images'
      src='{{flags.svg}}'
      alt='{{name.official}}'
      width='75'
      ,
      height='100'
    />
    <h2 class='country__name'>{{name.official}}</h2>
  </div>
{{/each}}